

    .cabecalhoNavegacao{
        margin: 1.5rem 0 1rem 0;
    }

    .listaNavegacao{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .listaNavegacao__itens{
        color: #000;
        font-family: sans-serif;
        font-size: 1em;
        font-weight: bold;
        width: 5%;
        display: flex;
        align-items: center;
        margin-right: 10%;
    }

    .listaNavegacao__itens:nth-child(2){
        margin-right: 12%;
    }

    .listaNavegacao__itens--imagem{
        width: 50%;
    }

    .listaNavegacao__itens--titulo{
        margin-left: 1rem;
    }